<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your post</title>
</head>
<body>
    <h1>Edit your post content</h1>
    <p>Post id: <b><%=post.id%></b></p>
    <p>Post username: <b>@<%=post.username%></b></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea name="content" rows="10" cols="30" style="font-style: italic;"><%=post.content%></textarea>
        <button>Submit</button>
    </form>
</body>
</html>